.tatoo-large
  .pagination-links
    .pagination-link.previus.pull-left
      = link_to 'Previous', tatoo_path(next_item(@tatoos.to_a, @tatoo, -1))
    .pagination-link.next.pull-right
      = link_to 'Next', tatoo_path(next_item(@tatoos.to_a, @tatoo, 1))
  .tatoo-wrapper.col-lg-6.col-sm-12
    = @tatoo.premium ? image_tag(@tatoo.image.url(:medium)) : image_tag(@tatoo.image.url(:original))
  .buy-tatoo
    - if @tatoo.premium
      = link_to 'Buy this tatoo to get full size image', purchase_start_tatoo_path(@tatoo)