.tatoo {
	padding: 10px !important;
}
.tatoo-inner {
	width: 100%;
	padding: 5px;
	border: 1px solid;
	min-height: 200px;
	box-shadow: 5px 10px 8px #888888;
}
.tatoo-inner a {
	width: 100%;
}
.tatoo-inner a img {
	width: 100%;
}
.buy-tatoo {
	margin: 10px;
}
.tatoo-large .tatoo-wrapper {
	margin: auto;
	display: inherit;
}
.tatoo-wrapper img {
	width: 100%;
}
.pagination-link {
	margin: 10px;
}
.listing-tatoos {
	width: 40%;
}
.preview-tatoo {
	width: 40%;
	position: fixed;
    left: 40%;
}
.preview-tatoo img {
	width: 90%;
}
.free-label {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: black;
	padding: 12px;
	font-size: 14px;
}
.banner {
	padding: 20px; 
}
.pagination-links {
	padding: 20px 20px 40px 20px;
}
.pagination a,em,span {
	padding: 6px;
	margin: 2px;
	border-radius: 3px;
	border: 1px solid;
}