.tatoo {
	padding: 1% !important;
}
.tatoo-inner {
	width: 100%;
	padding: 5px;
	border: 1px solid;
	box-shadow: 5px 10px 8px #888888;
	border-radius: 16px;
  overflow: hidden;
}
.tatoo-inner a {
	width: 100%;
}
.tatoo-inner a img {
  width: 106%;
  margin: -25% -4%;
}
.buy-tatoo {
	margin: 10px;
	text-align: center;
}
.tatoo-large .tatoo-wrapper {
	margin: auto;
	display: inherit;
}
.tatoo-wrapper {
	padding: 0px !important;
}
.tatoo-wrapper img {
	width: 100%;
}
.pagination-link {
	margin: 10px;
}
.listing-tatoos {
	width: 40%;
}
.preview-tatoo {
	width: 40%;
	position: fixed;
    left: 40%;
}
.preview-tatoo img {
	width: 90%;
}
.free-label {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: black;
	padding: 12px;
	font-size: 14px;
}
.banner {
	padding: 20px; 
}
.pagination-links {
	padding: 20px 20px 20px 20px;
	position: absolute;
	width: 100%;
}
.pagination-links-main {
	padding: 20px 20px 20px 20px;
	width: 100%;
}
.pagination a,em,span {
	padding: 6px;
	margin: 2px;
	border-radius: 3px;
	border: 1px solid;
}
.footer {
	color: white;
	font-size: 26px;
	background-color: black;
}
.catagory-tabs {
	border-bottom: 1px solid;
	margin-bottom: 10px;
}
.tab {
	border-radius: 10px 10px 0px 0px;
	border: 1px solid black;
	padding: 10px;
	margin: 0px 10px -1px 10px;
	background-color: white;
	color: black;
}
.tab:hover {
	text-decoration: none;
	color: white;
	background-color: black;
}
.current-tab {
	border-bottom: 1px solid white;
}